* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: rgb(19, 84, 204);
}

.header {
  display: flex;
  justify-content: space-between;
}

.btn {
  color: #fff;
  background-color: #4c9af3;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  outline: none;
  cursor: pointer;
  align-self: center;
}

.btn:hover {
  background-color: #0b5bb6;
}

p {
  font-size: 1.5rem;
  color: rgb(83, 82, 82);
}
